<div>
    <div>
        <h3><%= author.name %> </h3>
    </div>
    <div>
        <h3><%= author.emailAddress %> </h3>
    </div>
    <div>
        <h3><%= author.phoneNumber %> </h3>
    </div>
    <div>
        <h3><%= moment(author.createdAt).fromNow() %> </h3>
    </div>

    <% author.article.forEach(article => { %>
        <br>
        <div>
            <div>Article: <%= article.title %></div>
            <div>Contents: <%= article.content %> </div>
        </div><br>
    <% }) %> 

</div>