<h2><%= article.title %> </h2>

<div>
    Content: <%= article.content %> 
</div>
<div>
    Is Published: <%= article.isPublished %> 
</div>
<div>
    Total Word Count: <%= article.totalWordCount %> 
</div>

<% article.author.forEach(author => { %> 
    <br>
    <div>
        Author Name: <%= author.name %> 
    </div>
    <div>
        Author Email: <%= author.emailAddress %> 
    </div>
    <div>
        Author Phone: <%= author.phoneNumbers %> 
    </div><br>
<% }) %> 
<div>
    Created At: <%= moment(article.createdAt).fromNow() %> 
</div>