<h1>Edit Article</h1>

<form action="/article/update?_method=PUT" method="post">
    <div>
        <label>Title</label><br>
        <input type="text" name="title" value="<%= article.title %>">
    </div>
    <div>
        <label>Content</label><br>
        <textarea name="content" value="<%=article.content %>"></textarea>
    </div>
    <div>
        <label>Published</label><br>
        <input type="text" name="isPublished" value="<%= article.isPublished %>">
    </div>
    <div>
        <label>Total Words</label><br>
        <input type="number" name="totalWordCount" value="<%= article.totalWordCount %>">
    </div>
    <div>
        <label>Author</label><br>
        <input type="text" name="author" value="<%= article.author %>">
    </div>

    <input type="hidden" name="id" value="<%= article._id %>">

    <button type="submit">Submit</button>
</form>